<!DOCTYPE html>
<html>

<head>
<title>GitHub Searching</title>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8" />
<style>
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    body {
      line-height: 1;
    }

    ol, ul {
      list-style: none;
    }

    blockquote, q {
      quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    .clearfix {
      *zoom: 1;
    }

    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
      line-height: 0;
    }

    .clearfix:after {
      clear: both;
    }

    html {
      font-family: "Pingfang SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: #F4F4F4;
      font-size: 12px;
    }

    .main-content {
      max-width: 1140px;
      margin: 30px auto;
    }

    .main-content ul.results {
      margin-left: -20px;
    }

    .main-content ul.results li {
      display: inline-block;
      vertical-align: top;
      margin: 20px 0 20px 20px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      width: 140px;
    }

    .main-content ul.results li a {
      display: block;
      text-decoration: none;
      padding: 20px;
    }

    .main-content ul.results li a img {
      width: 100%;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .main-content ul.results li a h5 {
      text-align: center;
      color: #1e6189;
      font-size: 14px;
      margin-bottom: 6px;
    }

    .main-content ul.results li a p {
      color: #888;
    }

    .matched-results {
      padding: 0 20px 20px;
    }

    .matched-results h5 {
      margin-bottom: 5px;
    }

    .matched-result a {
      padding: 3px 5px;
    }

</style>
</head>

<body>
    <div class="main-content clearfix">

       <ul class="results">
        {{#userMap}}
            <li>
                <a href={{gitUrl}} target='_blank'>
                    <img src={{avartar}} />
                    <h5>{{name}}</h5>
                </a>
                <div class="matched-results">
                    <h5>repo:</h5>
                    {{#urls}}
                        <div class="matched-result"><a href="{{url}}">{{name}}</a></div>
                    {{/urls}}
                </div>
            </li>
        {{/userMap}}
       </ul>
    </div>
</body>

</html>